body {
    background-color: #fffbf7;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
/* Barra de navegación */
.header {
    margin: 0px 20px;
    font-size: 0;
    position:fixed;
    top:0;
    right: 0;
    left: 0;
    background-color: #fffbf7;
    padding-bottom: 15px;
}

.header li {
    /* inline no permite márgenes  */
    display: inline;
    color: #025157;
    font-size: 16px;
    padding: 8px;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}

.header .logo {
    width: 15%;
}

.header .navbar {
    /* los espacios en blanco ocupan 16px */
    width: 70%;
    text-align:center;
}
.header .navbar ul {
    padding-left: 0;
}

.header .actions {
    width: 15%;
    color: lightgreen;
    text-align: right;
    font-weight: 600;
    font-size: 14px;
}

.header .actions a {
    color: #67b54b;
    margin: 0 10px;
    text-decoration: none;
  }

.header .actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
}

/* Sección main */
.main {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h1 {
    color:#025157;
    font-family: "Alegreya", serif;
    font-size: 60px;
    font-weight: 900;
}

.main h4 {
    color:#46484c;
    font-family: "Slabo 27px", serif;
    font-size: 20px;
}

.main img {
    margin: auto;
}

.try-form {
    height: 55px;
    font-size: 0;
    display: flex;
    flex-direction: row;
}

.txt-email {
    padding: 0 20px;
    width: 60%;
    max-width: 250px;
    height: 100%;
    border-radius: 8px;
    border: 1px solid #b6b6b6;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.texto-boton {
    color:#fff;
    background-color: #025157;
    border-radius: 5px;
    border:1px solid;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0px 20px;
    margin-left: -10px;
    height: 100%;
}

.texto-promocional {
    color:#8b8b8bcc;
    font-size: 16px;
}

.banner {
    width: 70%;
}

/* Sección promo */
.advertising {
    display: flex;
    flex-direction: row;
    max-width: 70%;
    margin: 100px auto;
    align-items: center;
}

.video {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
}

.video img {
    width: 120px;
    margin-top: 10px;
}

.explanation {
    flex: 1;
    padding-left: 10px;
}

.explanation h1 {
    color:#025157;
    font-family: "Alegreya", serif;
    font-size: 40px;
    font-weight: 900;
}

.explanation h4 {
    color:#46484c;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

/* .clase p:nth-last-of-type(2){ } */